.wrapper {
  display: grid;
  gap: 1.5rem;
  width: 100%;
  margin: 10px 0;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  background: #f7f7f7;

  &&:hover {
    background-color: #ccc;
    cursor: pointer;
  }
}

.content {
  flex: 1 1 300px;
  width: 100%;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #333;
  text-align: left;
}

.meta {
  display: flex;
  justify-content: flex-start;
  font-size: 0.9rem;
  color: #666;
  gap: 20px;
}

.author {
  font-weight: 500;
}

.ModelOptionsButtonBox {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: end;
  /* padding-right: 5px; */
}

.ModelOptionsButton {
  border: none;
  align-items: center;
  justify-content: end;
  display: flex;
  text-align: end;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  font-size: 100px;
  width: 100%;

  &&:hover {
    background-color: #b6b4b4;
  }
}

.cover {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
}

.image {
  /* width: 200px;
  height: auto; */
  border-radius: 5px;
  object-fit: cover;
}

.loading,
.error {
  text-align: center;
  padding: 1rem;
  color: #666;
}

.error {
  color: red;
}


.ModelButton {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.rightButton {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
  gap: 3px;
}

.rightButton span:nth-child(1) {
  font-weight: bold;
}

@media (max-width: 768px) {
  .card {
    flex-direction: row;
  }

  .cover {
    max-width: 100%;
    flex-direction: column;
  }

  .title {
    font-size: 100%;
  }

  .meta {
    display: flex;
    justify-content: flex-start;
    font-size: 0.9rem;
    color: #666;
    gap: 20px;
  }

  /* .image {
    width: 100px;
  } */
}