.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 10px;
  margin-bottom: 50px;
}

.Breakingh5 {
  text-align: start;
  width: 100%;
  margin: 5px;
}

.HeaderArea {
  background-color: #fff;
  box-shadow: 1px 1px 10px 5px #00000013;
  position: fixed;
  top: 0;
  width: 100%;
}

.backBTN {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
}