.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 10px;
}

.Breakingh5 {
  text-align: start;
  width: 100%;
  margin: 5px;
}
